/.vscode
data/textures/f_01_alb.002_1k.png
data/smpl_uv.obj
data/smpl/SMPL_NEUTRAL.pkl
/__pycache__
data/test_camerahmr_message.txt
data/smpl_face_segmentation.json
data/smpl_segmentation_on_template.png
data/smpl_vert_segmentation.json
smpl_notes.txt
/data/data_dump
/data/Oct_22_stevens
/alpha_1.0
/alpha_0.25
data/textures/f_01_alb.002_512.png
data/patient_pose_raw.json
data/smpl/SMPL_FEMALE.pkl
data/smpl/SMPL_MALE.pkl
data/textures/g.png
/data/calibration_captures
